Mis tareas

<% @todos.each_slice(3) do |todos| %>
    <div class="row m-2">
    <% todos.each do |todo|%>
        <div class="card m-3" style="width: 18rem;">
        <% if todo.completed == true %>
            <%= image_tag todo.task.photo, class:"card-img-top"%>
        <% else %>
            <%= image_tag todo.task.photo, class:"card-img-top", style: "-webkit-filter: grayscale(100%)"%>
        <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= todo.task.title%></h5>
                    <div class="btn-group " role="group" aria-label="Basic example">
                            <% if todo.completed == true %>
                                <%= link_to "No completado", todos_update_path(todo), method: :patch, class:"btn btn-danger" %>
                            <% else %>
                                <%= link_to "Listo", todos_update_path(todo), method: :patch, class:"btn btn-primary" %>
                            <% end %>
                            <%= link_to "Detalle", todos_show_path(todo.task.id), class:"btn btn-primary" %>
                    </div>
            </div>
        </div>
        <% end %>
    </div> 
<% end %>
